{% extends 'base.html' %}
{% block title %} personal portfolio website {% endblock %}
{% block content %}

    <div class="left">
        <h3><span>[</span> &nbsp; Eric Kweyunga &nbsp; <span>]</span></h3>
        <p>I am a Web Developer . . .</p>
    </div>

    <div class="right">
        <p>
            <span>"</span> &nbsp; I am a web developer with experience in HTML, CSS, and JavaScript. &nbsp; <span>"</span> <br>
            I enjoy creating beautiful and functional websites that help businesses and individuals achieve their goals.
        </p>
    </div>

{% endblock %}